openapi: 3.2.0
info:
  title: SuperViz REST Channels API
  description: Representative OpenAPI description of the SuperViz server-side REST API.
  version: '1.0'
  contact:
    name: SuperViz Support
    url: https://docs.superviz.com
  license:
    name: SuperViz Terms of Service
    url: https://superviz.com/terms
servers:
- url: https://api.superviz.com
  description: SuperViz REST API base URL
security:
- clientId: []
  secret: []
tags:
- name: Channels
  description: Realtime channels active for a room.
paths:
  /realtime/1.0/channels:
    get:
      operationId: listChannels
      tags:
      - Channels
      summary: List realtime channels
      description: Lists the realtime channels that are active for the authenticated account / room, so a backend can discover where presence and messages are flowing.
      responses:
        '200':
          description: A list of active channels.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Channel'
              example:
              - name: my-channel
                connections: 4
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid client_id / secret credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            statusCode: 401
            message: Unauthorized.
  schemas:
    Channel:
      type: object
      description: A realtime channel active for the account or room.
      properties:
        name:
          type: string
          description: The channel name.
        connections:
          type: integer
          description: Number of connections currently on the channel.
      required:
      - name
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
      required:
      - statusCode
      - message
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: client_id
      description: Client ID issued from the SuperViz Dashboard under Developer > Keys. Sent on every REST request alongside the `secret` header.
    secret:
      type: apiKey
      in: header
      name: secret
      description: Secret Key issued from the SuperViz Dashboard under Developer > Keys. Displayed only once at creation; store it securely and never commit it to version control.
