openapi: 3.2.0
info:
  title: SuperViz REST Comments API
  description: Representative OpenAPI description of the SuperViz server-side REST API.
  version: '1.0'
  contact:
    name: SuperViz Support
    url: https://docs.superviz.com
  license:
    name: SuperViz Terms of Service
    url: https://superviz.com/terms
servers:
- url: https://api.superviz.com
  description: SuperViz REST API base URL
security:
- clientId: []
  secret: []
tags:
- name: Comments
  description: Contextual comments (annotations) created via the Collaboration SDK.
paths:
  /rooms/{roomId}/comments:
    get:
      operationId: listRoomComments
      tags:
      - Comments
      summary: List contextual comments for a room
      description: Returns the contextual comments (annotations pinned to elements of a web application or 3D scene) created through the Collaboration SDK for the given room.
      parameters:
      - name: roomId
        in: path
        required: true
        description: The identifier of the collaboration room.
        schema:
          type: string
        example: room-abc
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
      - name: startAfter
        in: query
        required: false
        description: Pagination cursor - return comments after this comment id.
        schema:
          type: string
      responses:
        '200':
          description: A paginated list of contextual comments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedComments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            statusCode: 404
            message: Not found.
    Unauthorized:
      description: Missing or invalid client_id / secret credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            statusCode: 401
            message: Unauthorized.
  schemas:
    PaginatedComments:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        limit:
          type: integer
        next:
          type:
          - string
          - 'null'
          description: Cursor to pass as `startAfter` to fetch the next page, or null.
      required:
      - data
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
      required:
      - statusCode
      - message
    Comment:
      type: object
      description: A contextual comment (annotation) created via the Collaboration SDK.
      properties:
        id:
          type: string
        text:
          type: string
          description: Body of the comment.
        participantId:
          type: string
          description: Identifier of the participant who authored the comment.
        position:
          type: object
          description: Anchor of the comment within the host application or 3D scene (implementation-specific coordinates).
          additionalProperties: true
        resolved:
          type: boolean
          description: Whether the comment thread has been resolved.
        createdAt:
          type: string
          format: date-time
      required:
      - id
      - text
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: client_id
      description: Client ID issued from the SuperViz Dashboard under Developer > Keys. Sent on every REST request alongside the `secret` header.
    secret:
      type: apiKey
      in: header
      name: secret
      description: Secret Key issued from the SuperViz Dashboard under Developer > Keys. Displayed only once at creation; store it securely and never commit it to version control.
